body{
    font-family: "Playwrite CZ", cursive;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/imgi_37_home-background-hero-scaled.jpg);
    background-size: cover;

}
.icon{
    >a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        &:hover{
            background-color: brown;
        }
      >i{
        font-size: 52px;
        color: #e0dddb;
       
    }
  }
}
.logo{
    width: 300px;
    padding-left: 80px;
}
.menu{
      >i{
         &:hover{
            color: gold;
        }
    }
  }
  
.hamber{
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    >i{
        font-size: 50px;
        color: aliceblue;
    }
}
.matn{
    padding-top: 200px;
    padding-left: 90px;
}
.click{
    >i{
        &:hover{
            background-color: rgba(78, 14, 14, 0.693);
        }
    }
}
.tasc{
    height: 100px;
    display: flex;
    align-items: center;
}

  .fixed-box {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 10px; /* فاصله بین دایره و آیکون‌ها */
    }

    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #333;
    }
    .circle img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .icons {
      display: flex;
      gap: 10px;
    }
    .icons a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
      border-radius: 50%;
      text-decoration: none;
      color: #333;
      font-size: 18px;
      transition: 0.3s;
    }
    .icons a:hover {
      background: #ccc;
    }
